<div class="container mt-3">
  <h1>Edit <%= @recipe.name %></h1>
  <div class="mb-3">
    <%= simple_form_for(@recipe) do |f| %>
      <%= f.input :name %>
      <%= f.input :instruction %>
      <%= f.input :photo, as: :file %>
      <%= f.button :submit, class: "text-btn" %>
    <% end %>
  </div>
  <%= link_to "Back" , recipe_path(@recipe), class: "back-btn" %>
</div>
