<div class="container mt-3">
  <h1>Add a new recipe</h1>
  <div class="mb-3">
    <%= simple_form_for(@recipe) do |f| %>
      <%= f.input :name %>
      <%= f.input :instruction %>
      <%= f.input :photo, as: :file %>
      <%= f.button :submit, "Add Recipe", class: "text-btn" %>
    <% end %>
  </div>
  <%= link_to "Back" , recipes_path, class: "back-btn" %>
</div>
