<!DOCTYPE html>
<html>
  <head>
    <title>Choco BitterSweet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body class="background" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('<%= asset_path('background.jpg') %>');">
    <div>
      <%= render 'layouts/navbar' %>
      <%= yield %>
    </div>
  </body>
</html>
